extends layout/_DefaultLayout

prepend ConfigBlock
  - page_name = ''

//- append StylesheetBlock

//- append JavascriptBlock

block ContentBlock
  .anim-kanpai.
    <canvas id="canvas" width="375" height="375" style="display: block; background-color:rgba(255, 255, 255, 1.00)"></canvas>
